<h2><%= @overview.club_name %></h2>

<h3>Upcoming Meetings</h3>

<p>
  <span>Book Discussion: <%= @overview.next_meeting_date %></span>
  <a href= <%= "/meetings/#{@overview.next_meeting.id}/edit" %>>Edit</a>  
</p>
<a href="/meetings/new">New Meeting</a>


<h3>Nominated Books</h3>

<table id="nominated-books", class="pure-table-horizontal">
    <%= render(@overview.books) %>
</table>

<script>
$("small[data-toggle-show]").click( function(e){
    description = $("#" + $(this).data("toggle-show"))

    if(description.attr('hidden')) {
        $(this).text("Less");
        description.removeAttr('hidden');
    } else {
        $(this).text("More");
        description.attr('hidden', true);
    }
});
</script>