<li>
  <span>
    <span><%= meeting.held_on.strftime("%b %e %Y") %></span>
    Book Discussion: 
    <i><%= meeting.book.title %></i>
    <a class="pure-button button-xsmall" href= <%= "/meetings/#{meeting.id}/edit" %>>Edit</a>
    </span>
</li>