<%= form_with(url: "/sessions/#{session[:user_id]}", method: "delete") do %>
    <% submit_tag("Logout") %>
<% end %>

<h1>Book Nominations</h1>

<% @books.each do |book| %>
    <li><%= "#{book.title} by #{book.author}" %></li>
<% end %>