header{
  padding: 0em 1em; 
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  color: white;
  background: slategray;
}

header .pure-menu-link {
  color: white;
}

header a{
  color: white;
  text-decoration: none;
}

header input {
  color: black;
}


#content {
  margin-top: 60px;
}

a{
  padding: 1em;
}

ul li{
    list-style: none;
}

.book-list-item {
  padding-top: 1em;
}

#book-details img{
  float: left;
  margin: 1em;
}

#book-details p {
}

#review-form textarea {
  width: 90%
}

table{
    width: 100%
}

#nominated-books td{
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: top;
}

.form-alert{
    color: maroon;
}

@media (max-width: 600px) {
  header {
    position: absolute;
    width: 100%;
  }

  header li{
    margin: 2em;
  }

  header .pure-menu-link {
    color: white
  }

  #content {
    margin-top: 200px;
  }
}